.page {
    justify-content: center;
    align-items: center;

    .chartSpace {
        display: flex;
        flex-direction: row;
        height: 40vh;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}